/*--------CSS PORTFOLIO--------*/

/*--------NICE IMG HOVER EFFEKT--------*/

/*.link_til_animation {
    transition: all 200ms ease-in;
    transform: scale(1);
}

.link_til_animation:hover {
    transition: all 200ms ease-in;
    transform: scale(1.5);
   box-shadow: 0px 0px 150px #000000;
    z-index: 2;
}*/

/*--------NICE IMG HOVER EFFEKT--------*/

/*--------CSS GENERAL SETTINGS START--------*/

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Open Sans',
    sans-serif;
    margin: 0;
    background-color: #223040;
    min-width: 300px;
}

/*--------CSS GENERAL SETTINGS SLUT--------*/

/*--------TYPOGRAFI START--------*/

h1 {
    margin: 0px 10px 0px 0px;
    font-family: 'Roboto Condensed',
    sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #A9B9CA;
}

h2,
h3,
h4 {
    margin: 0;
}

h2 {
    font-family: 'Roboto Condensed',
    sans-serif;

}

h3 {
    text-transform: uppercase;
    font-size: 50px;
    text-decoration: underline;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 1.2em;
    font-family: 'Open Sans',
    sans-serif;
}

p {
    margin-top: 0;
    font-size: 1em;
    font-family: 'Open Sans',
    sans-serif;
}

.boldfont {
    font-size: 1.2em;
    text-decoration: underline;
}

/*--------TYPOGRAFI SLUT--------*/

/*--------DROPDOWN MENU START--------*/

#menucontainer {
    /* Menuen sidder fast i toppen med en width på 100% */
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#menucontainer ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgba(20, 20, 23, 0.86);
    box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.5);
}

#menucontainer li {
    float: left;
}

/*--------MENU FARVE & HOOVER START--------*/

.semesterfarver,
.dropdownfarve,
.homeactive,
.aboutactive {
    /* Styrer farven. Hvilken side du er på (homesiden.) */
    color: #A9B9CA;
    background-color: #223040;
}

.semesterfarve {
    /* Styrer farven. Hvilken side du er på (homesiden.) */
    background-color: #223040;
    border-radius: 10px;
    padding: 5px;
}

.semesterfarver:hover {
    background-color: #223040;
    border-radius: 10px;
    padding: 5px;
}

.tema01_farve {
    background-color: #af3d3d;
    border-radius: 10px;
    padding: 5px;
}

.tema01_roed:hover {
    background-color: #af3d3d;
    border-radius: 10px;
    padding: 5px;
}

.tema02_farve {
    background-color: #303090;
    border-radius: 10px;
    padding: 5px;
}

.tema02_blaa:hover {
    background-color: #303090;
    border-radius: 10px;
    padding: 5px;
}

.tema03_farve {
    background-color: #1b722f;
    border-radius: 10px;
    padding: 5px;
}

.tema03_groen:hover {
    background-color: #1b722f;
    border-radius: 10px;
    padding: 5px;
}

.tema04_farve {
    background-color: #b54f18;
    border-radius: 10px;
    padding: 5px;
}

.tema04_orange:hover {
    background-color: #b54f18;
    border-radius: 10px;
    padding: 5px;
}


li a:hover:not(.aboutactive) {
    color: #A9B9CA;
}

li a:hover:not(.homeactive) {
    color: #A9B9CA;
}

li a:hover,
#dropbtn:hover {
    cursor: default;
    color: #A9B9CA;
}

#ddnothing {
    cursor: default;
    color: #f1f1f1;
}

#ddnothing:hover {
    cursor: default;
    color: #A9B9CA;
}

#menucontainer span {
    transition: all 200ms ease-in;
    transform: scale(1);
}


#menucontainer span:hover {
    border-bottom: 1.8px solid #223040;
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

/*--------Dropdown--------*/

li a,
#dropbtn {
    display: inline-block;
    color: #f1f1f1;
    padding: 12px 30px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover #dropbtn {
    background-color: #1c1e2a;
    /* Styrer dropdownmenuknappen hover farven*/
}

/*--------MENU FARVE & HOOVER SLUT--------*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(20, 20, 23, 0.86);
    min-width: 230px;
    overflow: auto;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* Styrer dropdownmenu baggrund farven*/
}

.dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* Styrer dropdownmenu hover farven*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myInput {
    background-image: url('image/search_icon.svg');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    background-color: #141417;
    color: #f1f1f1;
}

.show {
    display: block;
}

/*--------Dropdown--------*/

/*--------DROPDOWN MENU SLUT--------*/

/*--------HOME START--------*/

#home {
    text-align: center;
    clear: both;
    background-color: #223040;
    padding: 60px 0px;
    width: 100%;
}

#home .homesectionwrapper {
    display: inline-block;
    flex-wrap: wrap;
}

#home .homecolumn {
    padding: 2em 2em 1em 2em;
}

.bgimage {
    background-image: url("image/splash/Splash.png");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

.stylebox {
    padding-bottom: 150px;
}

.button {
    text-decoration: none;
    color: #f1f1f1;
    background: #1c1e2a;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    color: #A9B9CA;
    box-shadow: 0 5px 15px rgba(28, 30, 42, 0.79);
}

#home .h1dekoration {
    top: -20px;
    font-size: 1.8em;
    transition: all 200ms ease-in;
    color: #f1f1f1;
}

#home .h1dekoration:hover {
    font-size: 2.0em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

#home .homestylep {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-top: -18px;
    color: #A9B9CA;
    text-align: center;
    cursor: default;
}

#home .homesweethome {
    height: auto;
    width: 100%;

}

/*--------HOME SLUT--------*/

/*--------ABOUT ME START--------*/

#about {
    text-align: center;
    clear: both;
    background-color: #223040;
    padding: 10px 0px;
    width: 100%;
}

#about .aboutsectionwrapper {
    display: inline-block;
    flex-wrap: wrap;

}

#about .aboutcolumnsplash {
    padding: 2em 2em 1em 2em;
}

#about .aboutcolumn {
    padding: 1vw 18vw;
    /*Jeg ved ikke hvorfor men denne padding er skyld i at der i mobil-mode altid vil være en bare på 1 cm i alle browser vinduer*/
}


#about .h1dekoration {

    top: -20px;
    font-size: 1.8em;
    transition: all 200ms ease-in;
    color: #f1f1f1;
}

#about .h1dekoration:hover {
    font-size: 2.0em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

#visitkortstill,
#visitkort {
    height: auto;
    width: 100%;
}

#about h2 {
    text-transform: capitalize;
    margin-top: -10px;
    text-align: left;
    font-size: 1.8em;
    color: #A9B9CA;
}

#about p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

#about li {
    text-align: left;
    color: #f1f1f1;
}

#about ul {
    margin-top: -2px;
}

/*--------ABOUT ME SLUT--------*/

/*--------TEMA HEADLINE START--------*/

#overskrifter {
    text-align: center;
    clear: both;
    background-color: #223040;
    padding: 160px 0px;
    width: 100%;
}

#overskrifter .h1dekoration {
    top: -20px;
    font-size: 1.8em;
    transition: all 200ms ease-in;
    color: #f1f1f1;
}

#overskrifter .h1dekoration:hover {
    font-size: 2.0em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

/*--------TEMA 1 - HEADLINE--------*/

#overskrifter .tema1dekoration {
    font-size: 0.8em;
    font-family: 'Open Sans',
    sans-serif;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-in;
    background-color: #af3d3d;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    z-index: 20;
}

/*--------TEMA 2 - HEADLINE--------*/

#overskrifter .tema2dekoration {
    font-size: 0.8em;
    font-family: 'Open Sans',
    sans-serif;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-in;
    background-color: #303090;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    z-index: 20;
}

/*--------TEMA 3 - HEADLINE--------*/

#overskrifter .tema3dekoration {
    font-size: 0.8em;
    font-family: 'Open Sans',
    sans-serif;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-in;
    background-color: #1b722f;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    z-index: 20;
}

/*--------TEMA 4 - HEADLINE--------*/

#overskrifter .tema4dekoration {
    font-size: 0.8em;
    font-family: 'Open Sans',
    sans-serif;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-in;
    background-color: #b54f18;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
    z-index: 20;
}

/*--------TEMA HOOVERS - HEADLINE--------*/

#overskrifter .tema1dekoration:hover {
    font-size: 1.0em;
    transition: all 200ms ease-in;
    z-index: 20;
}

#overskrifter .tema2dekoration:hover {
    font-size: 1.0em;
    transition: all 200ms ease-in;
    z-index: 20;
}

#overskrifter .tema3dekoration:hover {
    font-size: 1.0em;
    transition: all 200ms ease-in;
    z-index: 20;
}

#overskrifter .tema4dekoration:hover {
    font-size: 1.0em;
    transition: all 200ms ease-in;
    z-index: 20;
}

/*--------TEMA HOOVERS - HEADLINE--------*/

#overskrifter .klikher {
    width: 150px;
    height: 150px;
}

/*--------TEMA HEADLINE SLUT--------*/

/*--------TAG ET KIG START--------*/

#tagetkig {
    background-color: #A9B9CA;
    width: 100%;
    text-align: center;
    clear: both;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

/*--------TAG ET KIG SLUT--------*/

/*--------GENERALLE SETTINGS FOR SECTIONS START--------*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.column {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0 2em 1em 2em;
    /*Jeg ved ikke hvorfor men denne padding er skyld i at der i mobil-mode altid vil være en bare på 1 cm i alle browser vinduer*/
}

#temasexogsamfund,
#temahotdawg,
#temapopart,
#temaprinterrefill,
#temavirksomhedsvideo,
#temacphdoxff,
#temakeaskema,
#temarepublikken {
    text-align: center;
    clear: both;
    background-color: #223040;
    padding: 40px 0px;
    width: 100%;

    cursor: default;

}



/*--------GENERALLE SETTINGS FOR SECTIONS SLUT--------*/

/*--------TEMA STYLE-------*/

#tema01 .popartsplash,
.printersplash,
.hotdawgsplash,
.sexogsamfundsplash,
.virksomhedsvideosplash,
.falstersfremtidsplash,
.ovelsescasesplash,
.republikkensplash {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    transition: all 200ms ease-in;
    transform: scale(1);
    left: auto;
}

#tema01 .popartsplash:hover,
.printersplash:hover,
.sexogsamfundsplash:hover,
.hotdawgsplash:hover,
.virksomhedsvideosplash:hover,
.falstersfremtidsplash:hover,
.ovelsescasesplash:hover,
.republikkensplash:hover {
    transition: all 200ms ease-in;
    transform: scale(1.05) translatex(5px) translateY(10px);
    z-index: 2;

}

/*--------TEMA BOX COLOR-------*/

.temaflex {
    display: flex;
}

.flexspace {
    padding: 2px;
}

/*--------RED-------*/

#tema01 .temadeko {

    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #af3d3d;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: default;
}

/*--------BLUE-------*/

#tema01 .temadeko2 {

    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #303090;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: default;
}

/*--------GREEN-------*/

#tema01 .temadeko3 {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #1b722f;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: default;
}

/*--------ORANGE-------*/

#tema01 .temadeko4 {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #b54f18;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: default;
}

#tema01,
.linkpopart,
.linkprinterrefill,
.linkhotdawg,
.linksexogsamfund,
.linkcphdox,
.linkovelsescase,
.linkrepublikken {
    font-size: 1.2em;
    text-decoration: none;
    transition: all 200ms ease-in;
    color: #f1f1f1;
}


#tema01,
.linkpopart:hover,
.linkprinterrefill:hover,
.linkhotdawg:hover,
.linksexogsamfund:hover,
.linkcphdox:hover,
.linkovelsescase:hover,
.linkrepublikken:hover {
    font-size: 1.3em;
    cursor: pointer;
    color: #A9B9CA;
    transition: all 200ms ease-in;
    z-index: 2;
}

#tema01 h2 {
    text-transform: capitalize;
    margin-top: -20px;
    text-align: left;
    font-size: 1.8em;
}

#tema01 h5 {
    margin-top: 18px;
    text-align: left;
    font-size: 1.1em;
}

#tema01 p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

#tema01,
a,
.laesmere {
    color: #577ce2;
    text-decoration: none;
    cursor: pointer;
}

#tema01 .laesmere:hover {
    color: #3f21e3;
}

/*- HER STARTER DOKUMENTATIONSSITES -*/

/*--------RED-------*/

#overskrifter #popart,
.tilbageknap {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #af3d3d;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 200ms ease-in;
}



/*--------BLUE-------*/

#overskrifter #printerrefill,
.tilbageknap2 {

    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #303090;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 200ms ease-in;
}

/*--------GREEN-------*/

#overskrifter #printerrefill,
.tilbageknap3 {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #1b722f;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 200ms ease-in;
}

/*--------ORANGE-------*/

#overskrifter #printerrefill,
.tilbageknap4 {
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: #b54f18;
    color: #f1f1f1;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 200ms ease-in;
}

#overskrifter #popart,
#printerrefill .tilbageknap:hover,
.tilbageknap2:hover,
.tilbageknap3:hover,
.tilbageknap4:hover {
    font-size: 1.2em;
    transition: all 200ms ease-in;
    z-index: 20;
}

/*--------SPLASH iMAGES--------*/

#splashimage1 {
    text-align: center;
    background-image: url("image/tema01/splash.png");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

#splashimage2 {
    text-align: center;
    background-image: url("image/tema03/virksomhedsvideo.png");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

#splashimage3 {
    text-align: center;
    background-image: url("image/tema03/cphdox_falstersfremtid_2.PNG");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

#splashimage4 {
    text-align: center;
    background-image: url("image/tema02/hotdawg.png");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

#splashimage5 {
    text-align: center;
    background-image: url("image/tema02/sexogsamfund.png");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

#splashimage6 {
    text-align: center;
    background-image: url("image/tema04/ovelsescase%20-%20kea%20skema.png");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

#splashimage7 {
    text-align: center;
    background-image: url("image/tema02/sexogsamfund.png");
    height: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
}

/*--------TEMA 1 - POPART START--------*/

#popart {
    clear: both;
    background-color: #223040;
    padding: 10px 0px;
    width: 100%;
}

.tools {
    text-align: left;
}

#popart .popartsectionwrapper {
    display: inline-block;
    flex-wrap: wrap;

}

#popart .popartcolumn {
    padding: 1vw 18vw;
}

#popart .pictures {
    box-shadow: 0px -1px 30px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#popart .tools img {
    width: 50%;
}

#popart cite {
    text-align: right;
    font-size: 0.9em;
    color: #A9B9CA;
}

#popart h5 {
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;

}

#popart p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

.klikherknap {
    text-align: left;
    margin-top: -8px;
    margin-left: 20px;
}

#popart li {
    text-align: left;
    color: #f1f1f1;
}

#popart ul {
    margin-top: -10px;
}



/*--------TEMA 1 - POPART SLUT--------*/

/*--------TEMA 1 & 3 - PRINTERREFILL START--------*/

#printerrefill {
    clear: both;
    background-color: #223040;
    padding: 10px 0px;
    width: 100%;
}


#printerrefill .printerrefillsectionwrapper {
    display: inline-block;
    flex-wrap: wrap;

}

#printerrefill .printerrefillcolumn {
    padding: 1vw 18vw;
}

#printerrefill .pictures {
    box-shadow: 0px -1px 30px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#printerrefill .tools img {
    width: 50%;
}

#printerrefill cite {
    text-align: right;
    font-size: 0.9em;
    color: #A9B9CA;
}

#printerrefill h5 {
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;

}



#printerrefill h2 {
    margin-top: -20px;
    transition: all 200ms ease-in;
    text-transform: capitalize;
    text-align: left;
    font-size: 2.2em;
    color: #f1f1f1;
}

#printerrefill h2:hover {
    font-size: 2.4em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

#printerrefill p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

#printerrefill li {
    text-align: left;
    color: #f1f1f1;
}

#printerrefill ul {
    margin-top: -10px;
}

#printerrefill a,
.laesmere {
    color: #577ce2;
    text-decoration: none;
    cursor: pointer;
}

#printerrefill .tema03_farve {

    background-color: #1b722f;
    border-radius: 10px;
    padding: 5px;
}

#printerrefill .laesmere:hover {
    color: #3f21e3;
}

/*--------TEMA 1 & 3 - PRINTERREFILL SLUT--------*/

/*--------TEMA 2 - SEX OG SAMFUND START--------*/

#sexogsamfund {
    clear: both;
    background-color: #223040;
    padding: 10px 0px;
    width: 100%;
}


#sexogsamfund .sexogsamfundsectionwrapper {
    display: inline-block;
    flex-wrap: wrap;

}

#sexogsamfund .sexogsamfundcolumn {
    padding: 1vw 18vw;
}

#sexogsamfund .pictures {
    box-shadow: 0px -1px 30px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#sexogsamfund .tools img {
    width: 50%;
}

#sexogsamfund cite {
    text-align: right;
    font-size: 0.9em;
    color: #A9B9CA;
}

#sexogsamfund h5 {
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;

}

#sexogsamfund h2 {
    margin-top: -20px;
    transition: all 200ms ease-in;
    text-transform: capitalize;
    text-align: left;
    font-size: 2.2em;
    color: #f1f1f1;
}

#sexogsamfund h2:hover {
    font-size: 2.4em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

#sexogsamfund p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

#sexogsamfund li {
    text-align: left;
    color: #f1f1f1;
}

#sexogsamfund ul {
    margin-top: -10px;
}

#sexogsamfund a,
.laesmere {
    color: #577ce2;
    text-decoration: none;
    cursor: pointer;
}

#sexogsamfund .tema02_farve {
    background-color: #303090;
    border-radius: 10px;
    padding: 5px;
}

#sexogsamfund .laesmere:hover {
    color: #3f21e3;
}

/*--------TEMA 2 - SEX OG SAMFUND SLUT--------*/

/*--------TEMA 3 - CPHDOX START--------*/

#cphdox {
    clear: both;
    background-color: #223040;
    padding: 10px 0px;
    width: 100%;
}


#cphdox .cphdoxsectionwrapper {
    display: inline-block;
    flex-wrap: wrap;

}

#cphdox .cphdoxcolumn {
    padding: 1vw 18vw;
}

#cphdox .pictures {
    box-shadow: 0px -1px 30px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#cphdox .tools img {
    width: 50%;
}

#cphdox cite {
    text-align: right;
    font-size: 0.9em;
    color: #A9B9CA;
}

#cphdox h5 {
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;

}

#cphdox h2 {
    margin-top: -20px;
    transition: all 200ms ease-in;
    text-transform: capitalize;
    text-align: left;
    font-size: 2.2em;
    color: #f1f1f1;
}

#cphdox h2:hover {
    font-size: 2.4em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

#cphdox p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

#cphdox li {
    text-align: left;
    color: #f1f1f1;
}

#cphdox ul {
    margin-top: -10px;
}

#cphdox a,
.laesmere {
    color: #577ce2;
    text-decoration: none;
    cursor: pointer;
}

#cphdox .tema03_farve {

    background-color: #1b722f;
    border-radius: 10px;
    padding: 5px;
}

#cphdox .laesmere:hover {
    color: #3f21e3;
}

/*--------TEMA 3 - CPHDOX SLUT--------*/

#ux {
    clear: both;
    background-color: #223040;
    padding: 10px 0px;
    width: 100%;
}


#ux .uxsectionwrapper {
    display: inline-block;
    flex-wrap: wrap;

}

#ux .uxcolumn {
    padding: 1vw 18vw;
}

#ux .pictures {
    box-shadow: 0px -1px 30px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

#ux .tools img {
    width: 50%;
}

#ux cite {
    text-align: right;
    font-size: 0.9em;
    color: #A9B9CA;
}

#ux h5 {
    letter-spacing: 0.5px;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;

}

#ux h2 {
    margin-top: -20px;
    transition: all 200ms ease-in;
    text-transform: capitalize;
    text-align: left;
    font-size: 2.2em;
    color: #f1f1f1;
}

#ux h2:hover {
    font-size: 2.4em;
    transition: all 200ms ease-in;
    border-bottom: 1px solid #1c1e2a;
    z-index: 2;
    color: #A9B9CA;
    cursor: default;
}

#ux p {
    margin-top: -2px;
    color: #f1f1f1;
    text-align: left;
    cursor: default;
}

#ux li {
    text-align: left;
    color: #f1f1f1;
}

#ux ul {
    margin-top: -10px;
}

#ux a,
.laesmere {
    color: #577ce2;
    text-decoration: none;
    cursor: pointer;
}

#ux .tema03_farve {

    background-color: #1b722f;
    border-radius: 10px;
    padding: 5px;
}

#ux .laesmere:hover {
    color: #3f21e3;
}

#app_link {
    padding: 20px;
    border-radius: 20px;
    margin: 5vw;

}

#app_link img {
    width: 100px;
}

#app_link img:hover {
    transform: scale(1.1);
}

/*--------GENERALLE VIDEO SETTINGS--------*/

.hs-responsive-embed-youtube iframe {
    margin-top: -10px;
    border-radius: 10px;
    box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {

    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 0px;
}

/*--------GENERALLE VIDEO SETTINGS--------*/

/*--------FOOTER START--------*/

footer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1em;
    color: rgba(169, 185, 202, 0.62);
    padding: 15px;
    background-color: rgba(20, 20, 23, 0.86);
}

.footerc {
    font-size: 1.2em;
}

/*--------FOOTER SLUT--------*/
