body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/*--------------BRUGER MENU START---------------*/

a {
    text-decoration: none;
    color: #202532;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFF;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    box-shadow: 8px 0px 20px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 300px;
    height: inherit;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #f4912d;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 5px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

li {
    list-style-type: none;
}

/*--------------BRUGER MENU SLUT---------------*/

.logo img {
    margin: 10px;
    margin-bottom: 30px;
    width: 10vw;
    float: right;
}

#overskrifter {
    margin: 0;
    text-align: right;
}

h1 {
    margin: 0px 10px 0px 0px;
    text-transform: uppercase;
    font-size: 40px;
}

h2,
h3,
h4 {
    margin: 0;
}

.h2_center {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 32px;
    text-shadow: 2px 2px 5px #f4912d;
}

h3 {
    text-transform: uppercase;
    font-size: 50px;
    text-decoration: underline;
}

h4 {
    font-size: 30px;
}

h5 {
    font-weight: 100;
    font-size: 30px;
    margin: 20px 0px 0px 0px;
    background-color: #f4912d;
    border-radius: 15px;
    padding: 1em;
    line-height: 1.4em;
}

p {
    margin-top: 0;
}

#historien h4 {
    margin-bottom: 20px;
}


#link_til_animation,
#moodboard,
#sekvensdiagram,
#trello,
#flowchart {
    clear: both;
    font-size: 22px;
    padding: 70px 0px;
    color: #FFF;
    background-color: #202532;
    text-align: center;
    width: 100%;
}

#link_til_animation a,
#moodboard a,
#sekvensdiagram a,
#trello a,
#flowchart a {
    color: #FFF;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}

.column {
    padding: 0 2em 1em 2em;
    flex-grow: 1;
    flex-basis: 200px;
}

#maalgruppe img {
    box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 1);
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}

#maalgruppe p {
    margin-top: 25px;
}

#maalgruppe {
    margin-top: 20px;
    border-bottom: solid 5px #202532;
}

#maalgruppe h2 {
    margin-top: 10px;
}

#persona {
    clear: both;
}

#persona img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}

#styletile img,
#trello img,
#fernisering img,
#burn_down img,
#gruppen img,
#test img {
    width: 100%;
    margin-bottom: 20px;
}

.test_h2 {
    color: #f4912d;
    font-size: 18px;
}

.alba_profil {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 0 10px;
    background-color: #f4912d;
}

.alba_profil img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#asset_liste img {
    width: 100%;

}

#fernisering p {
    margin: 0;
}

#fernisering img {
    border: solid 1px #000;
    border-radius: 30px;
}

#gruppen .column {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    background-color: #f4912d;
    flex-basis: 50px;
}

#gruppen h4,
#gruppen p {
    font-size: 1.3vw;
    margin: 0;
}

.person_img {
    margin-top: 10px;
    border-radius: 50%;
}
